[project]
	description = Test Repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kbilinski
[access "refs/for/refs/*"]
	read = group user/kbilinski
	push = group user/kbilinski
	label-Code-Review = -2..+2 group user/kbilinski
	label-Verified = -1..+1 group user/kbilinski
	rebase = group user/kbilinski
	removeReviewer = group user/kbilinski
	submit = group user/kbilinski
[access "refs/heads/*"]
	read = group user/kbilinski
	create = group user/kbilinski
	push = +force group user/kbilinski
	pushMerge = group user/kbilinski
[access "refs/tags/*"]
	push = +force group user/kbilinski
	pushTag = group user/kbilinski
	pushSignedTag = group user/kbilinski
